body
	// banner
	
	.e-banner
		padding: 65px 0
		display: flex
		background: #333
		justify-content: center
		ul
			margin: 0
			padding: 0
			li
				color: #fff
				font-size: 14px
				display: inline
				list-style: none
				&:first-child:after
					content: ' - '
				&:last-child:before
					content: ' - '
	.container
		#body
			section.e-product
				margin-top: 55px
				display: flex
				justify-content: center
				.e-product-col-left
					.e-product-image
						margin-bottom: 20px
					.e-product-image-small-container
						display: flex
						justify-content: space-between
						.e-product-image1
						.e-product-image2
						.e-product-image3
						.e-product-image4
				.e-product-col-right
					width: 100%