@import ../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins
@import ../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables

body
	font-family: 'Montserrat', sans-serif
	padding: 0
	margin: 0

.container
	// border: 4px solid black
	max-width: 1110px
	padding: 0

	.row
		// border: 1px solid red
		padding: 0
		margin: 0

header .container
	#carouselExampleControls
		position: relative

	div#top
		justify-content: space-between
		margin: 45px 0 95px 0
		align-items: center
		display: flex
		padding: 0

		h1
			font-family: 'Cantata One', serif
			text-transform: uppercase
			font-size: 24px
			margin: 0

		h2
			font-size: 14px
			margin: 0

			i.fas.fa-phone
				transform: rotate(180deg)
				margin-right: 11px
				font-size: 14px

		h2:last-child
			font-weight: bold
			font-size: 14px

		h2:last-child i:after
			margin: 0 5px 0 5px
			content: "(0) -"

	nav
		margin-bottom: 60px

		a
			text-transform: uppercase
			font-size: 14px
			padding: 0 35px

		a:last-child
			color: red

	#title-btn-banner
		position: absolute
		top: 30rem
		z-index: 1

		h1
			text-transform: uppercase
			margin-bottom: 55px
			font:
				weight: bold
				size: 60px

		h2
			color: #777777
			font-size: 22px
			margin-bottom: 115px

		div#btn-shop-now
			width: 210px
			height: 60px
			padding: 5px
			background: #333333

			div
				width: 200px
				height: 50px
				margin: auto 0
				background: #333333
				border: 1px solid #a0a0a0

				h3
					color: #fff
					font:
						size: 14px
						weight: bold
					text:
						align: center
						transform: uppercase

.container #body	
	h1
		font-size: 30px
		font-weight: bold
		text:
			align: center
			transform: uppercase
	section#tendencies
		h1#tendencies
			margin: 100px 0 50px 0

		.col-6, .col-12
			margin: 0
			padding: 0
			// border: 1px solid black

			figure
				position: relative

				img
					width: 100%
					height: 100%

				figcaption
					top: 50px
					left: 50px
					font-size: 14px
					position: absolute
					h3
						margin: 0 0 20px
						font-weight: bold
						text-transform: uppercase
					h4
						margin: 0

			#fig-1
				margin-bottom: 30px

	section#popular 
		h1#popular
			margin: 155px 0 50px 0

		div.col-3
			padding: 0
			
			figure
				margin: 0 15px
				img
					width: 100%
					height: 100%
				figcaption
					margin-top: 20px
					h6
						color: #777
						font-size: 14px
						margin: 0 0 15px 20px
						&:nth-child(2)
							color: black
							font-weight: bold
							margin: 0 0 70px 20px
							i
								margin-left: 110px

				.active
					margin: 0
					padding-top: 20px
					border:
						radius: 2px
						left: 1px solid #ccc
						bottom: 1px solid #ccc
						right: 1px solid #ccc
					h6
						&:nth-child(2)
							margin: 0 0 20px 20px